<div class="flex-row">
    <div class="flex-row-image">
        <img class="beer-img" src={{[randomBeer].image_url}}>
    </div>
    <div class="flex-row-text">
        <h2>{{[randomBeer].name}}</h2>
        <p class="tag">{{[randomBeer].tagline}}</p>
        <p class="desc">{{[randomBeer].description}}</p>
        <p class="desc"><span class="bold">Food pairing:</span> {{[randomBeer].food_pairing}}</p>
        <p class="desc"><span class="bold">Brewers Tips:</span> {{[randomBeer].brewers_tips}}</p>
    </div>
</div>